---
import buttonStyles from '../Button.module.css';
import containerStyles from '../Container.module.css';

interface Props {
  prev?: string;
  next?: string;
  currentPage: number;
}

const { prev, next, currentPage } = Astro.props;
---

{
  (prev || next) && (
    <nav class={containerStyles.container}>
      {next && (
        <a href={next} rel="next" class={buttonStyles.primary}>
          Newer
        </a>
      )}
      {next && <p class="page">Page {currentPage}</p>}
      {prev && (
        <a href={prev} rel="prev" class={buttonStyles.primary}>
          Older
        </a>
      )}
    </nav>
  )
}

<style>
  nav {
    display: grid;
    grid-template-columns: 1fr calc(145rem / 16) 1fr;
    padding: 0.75rem;
    margin-block-start: 0.75rem;
    align-items: center;
  }

  .page {
    grid-column: 2;
    text-align: center;
    margin: 0;
  }

  p {
    color: #7f8fa4;
    font-size: 0.75rem;
  }

  a {
    inline-size: 5rem;
    font-size: 0.75rem;
  }

  [rel='next'] {
    grid-column: 1;
    justify-self: end;
  }

  [rel='prev'] {
    grid-column: 3;
    justify-self: start;
  }
</style>
