---
import { Image } from 'astro:assets';

import buttonStyles from '../Button.module.css';

import { paths } from '../../paths';

import logo from './logo.svg';

interface Props {
  create?: true;
}

const { create } = Astro.props;
---

<header>
  <a href={paths.home} class="logo">
    <Image src={logo} alt="CTypeHub logo" />
  </a>
  {
    create ? (
      <a href={paths.home} class={buttonStyles.primary}>
        Search Claim Types
      </a>
    ) : (
      <a href={paths.create} class={buttonStyles.primary}>
        Create Claim Type
      </a>
    )
  }
</header>

<style>
  header {
    box-sizing: border-box;
    padding-inline: var(--responsive-padding-inline);
    padding-block: 1rem;
    border-block-end: 1px solid rgba(var(--color-white-rgb) / 10%);
    margin-block-end: 0.75rem;
    background: var(--color-background-secondary);
    box-shadow: 0 5px 6px 0 rgba(var(--color-black-rgb) / 30%);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media screen and (width >= 600px) {
    header {
      margin-block-end: 1.5rem;
    }

    .logo {
      padding-inline-end: calc(165rem / 16);
      background: url('./textLogo.svg') no-repeat center right;
    }
  }
</style>
