---
import type { CTypeData } from '../../models/ctype';

import styles from './CTypeResultCard.module.css';

interface Props {
  cTypeData: CTypeData;
}

const { cTypeData } = Astro.props;

const { title, id } = cTypeData;
---

<li class={styles.container}>
  <h2 class={styles.title}><a class={styles.link} href=`/${id}`>{title}</a></h2>
</li>
